/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};
        aliases {
                modem = &modem;
        };
};

&lpuart3{
        current-speed = <115200>;
        status = "okay";

        modem: modem {
                compatible = "telit,me910g1";
                mdm-power-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
                mdm-reset-gpios = <&gpio1 24 GPIO_ACTIVE_LOW>;
                status = "okay";
        };
};


&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};


